rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read all documents
    match /{document=**} {
      allow read: if true;
    }

    // Allow anyone to write to the 'contacts' collection
    match /contacts/{document=**} {
      allow create: if true;
    }
  }
}
